@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tishin Cakey website</h1>
    <img src="~/image/background.jpg" width="1100" height="700" style="border:solid" />

</div>
