@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 style="color:navy">Welcome to Tishin Cakey website</h3>
    <img src="~/image/background.jpg" width="1100" height="700" style="border:solid" />

</div>
